/* importei uma fonte do google com essa linha pois acho as fontes daqui feias demais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
*{
    /* resetar as bordas da pagina */
    margin: 0px;
    padding: 0px;
}
body{
    /* mudei a fonte e definir um background */
    font-family: 'Poppins', sans-serif;
    background-color: black;
    
}
header{
    /* mudei a parte superior para ficar responsiva e se adequar ao site color e cor da fonte e background e a cor de onde ficar a escrita */
    padding: 0.5px;
    text-align: center;
    background:rgba(172, 212, 250, 0.822);
    color: rgba(255, 255, 255, 0.829);
    
        }

.title{
    /* so mudei o tamanho */
    font-size: 25px;
}
.container{
    /* defini a reponsividade do site */
    max-width: 1000px;
    margin: auto;
}
section{
    /* a parte principal o do site so usei o overflow hiden para zerar o max width e nao ficar uma imagem menor doque o esperado pois  apenas o cover nao basta   */
    padding: 20px;
    background-image: url(people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formcontainer{
    /* defini aonde queria os campos do formulario e em que local eles iriam ficar usa o float para ficar mais responsivo junto com o max width para caso o site seja mobile o box shadow e para ficar mais imerso e o border radius e para ficar mais redondinho */
    max-width: 230px;
    float: right;
    padding: 25px;
    background-color: white;
    box-shadow: 5px 8px 10px black ;
    border-radius: 45px;
}
.mb{
    /* estilizacao do texto de chamativa em cima dos campos */
margin-bottom: 25px;
}
input, select{
    /* aqui eu eslitizei o meu input e o select apenas com o uso da vigula border box server para se adequar a borda no container que eles estao o outline e para tirar a borda azul de quando voce clica no select e nos inputs */

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    outline: 0;
    border: 0
}
input[type="submit"]{
    /* estilizei apenas o submit botei um degrade nele e adicionei a box shadow */
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(rgba(172, 212, 250, 0.822)), to(#573589)) no-repeat;
    background: -moz-linear-gradient(right,         #f47cfa83, #57358980);
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
    border-radius: 40px;
    margin-top: 15px;
    
}
input[type="submit"]:hover{
    /* hover e uma subfuncao pre feita do vscode na qual quando passa o mouse em cima do obj ou clica nele ele executa o codigo css abixo no caso aqui ele somente troca a cor para impacto visual*/
    background: -webkit-gradient(linear, left top, right top, from(#7cfaf4d8), to(#71cddafd)) no-repeat;
    background: -moz-linear-gradient(right,#f47cfa83, #57358980);
    color: black;
}
select{
    /* mudei o select todo para ficar mais bonito visivelmente */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
    background-image: url(arrow.jpg);
    background-repeat: no-repeat;

    background-position:calc(100% - 10px) center;
    }
    
footer{
    /* alinhei o footer aonde eu queria na pagina */
    background: -webkit-gradient(linear, left top, right top, from(rgba(172, 212, 250, 0.822)), to(#573589)) no-repeat;
    padding: 40px;
    text-align: center;
}
.picture{
    /* defini o tamanho da img */
    width: 260px;

}

.desciption{
    /*defini aonde o texto se encaixaria inline block serve para ficar na mesma linha e nao ocupar um bloco da pagina inteira o max e min width serve para ficar responsivo  */
    display: inline-block;
    text-align: left;
    color: white; 
    max-width: 40%; 
    margin-left: 40px;
    }
.desciption p,.desciption h3{
    /* estilizacao do p e h3 junto  */
    margin-bottom: 20px;
}
.desciption h3{
    /* estilizacao do h3 do footer sozinho */
    font-size: 24px;
    text-align: center;
}
.desciption p{
    /* estilizacao do p sozinho */
    font-size: 16px;
}
